*{
    margin: 0px;
    padding: 0%;
    }
#par{
    display: flex;
    justify-content: space-around;
    background-color: rgb(239, 252, 252);
    height: 50px;
    
}
#par>p{
    margin-top: 15px;
}
#par>div>p{
    margin-top: 15px;  
}
/* ==================par1============================== */
#par1{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}
#par1>img{
    width: 3%;
    height: 3%;

}

#btn1{
    width:30%;
    height: 70%;
}
#img1{
    display: flex;
    width: 3%;
    height: 3%;
    margin-top: 20px;
}
#img1>img{
   
    width: 60%;
    height: 80%;
    margin-left: 20px;
}

#man{
    width:600px;
    height: 20px;
    border:1px solid #e5e5e5;
    padding: 7px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: #e5e5e5;
    gap:10px;
    display: flex;
    margin-bottom: 2%;
    }
    input{
    background: transparent;
    height: 20px;
    border: 0px;
    outline: 0px;
    width: 450px;
    
    
    }
    .icon-search{
    color: rgb(5, 5, 5);
    border: 1px solid red;
    /* margin-top: -70px;
    margin-left: -20px; */
    } 

    #img2{
        display: flex;
        width: 3%;
        height: 3%;
        padding-right: 30px;
    }
    #img2>img{
       
        width: 60%;
        height: 80%;
        margin-top: 20px;
      
    }
  /* ===========par2================================== */
  #par2{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }
  #par2>div>button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(7, 116, 225);
    color: #e5e5e5;
    font-size: 20px;
  }
  /* =========================par3============================= */
  #par3{
    /* border: 1px solid red; */
    width: 60%;
    height: 100%;
    margin-left: 390px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-bottom: 90px;
  }
  #child{
    display: flex;
    justify-content: space-around;
  }
  #child>div{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
#btn3{

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: none;
  padding: 4px;
  background-color: white;
}
  #child1{
    margin-top: 90px;
    margin-bottom: 90px;
  }
  #child1>p{
    text-align: center;
    
  }
  #btn4{
    padding: 7px;
    border-radius: 8px;
    border: none;
    background-color: rgb(7, 116, 225);
    color: #e5e5e5;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 30px;
  }
  #btn4:hover{
    padding: 7px;
    border-radius: 8px;
    border: none;
    background-color: rgb(7, 116, 225);
    color: #e5e5e5;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 30px;
  }





  #footer{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-top: 40px;
}


#footer1{
margin-top: 70px;

}

#footer1>button{
    background-color: #f2f4f7;
    font-size: 20px;
   border: none;
    margin-left: 20px;
      
    }
/* ==============fotter2============================================= */

.footer2{
      
    display: flex;
    gap:70px;
    padding: 25px;
    margin-left: 90px;
    text-align: center;
    justify-content: space-around;
    border: none;
}

#foot {
    display: inline-block;
    position: relative;
    color: #111212;
    border: none;
    margin-top:16px;
     }
    
    #foot::before{
    content: '';
    position: absolute;
    width: 97%;
    transform: scaleX(0);
    height: 0.8px;
    bottom: 0;
    border: none;
    background-color: #020202;
    }
    
    #foot:hover::before {
    transform: scaleX(1);
    }

    /* ==============footer3=======================================*/
    #footer3{
        background-color: #f2f4f7;
        display: flex;
        justify-content: space-around;
    }
    #para2{
        display: flex;
        margin-top: 20px;
        }
    #para2>p{
        margin-left: 20px;
       }

