*{
    margin: 0px;
    padding: 0%;
    }
        #cont{
            display: flex;
            position: fixed;
            justify-content: center;
            width: 100%;
              height: 50px;
            background-color: rgb(239, 252, 252);
        
        }
        p{
            color: rgb(36, 36, 36);
          margin-top: 10px;
          font-size: large;

        }
        #special{
          
            color:blue;
            margin-top: 10px;
            font-size: large;
            margin-left: 8px;
            
        }

        /* =============================2nd========================== */
        #cont1{
            width: 100%;
            padding-left: 50px;
             position: fixed;
            background-color:white;
            margin-top: 50px;
           display: flex;
           justify-content: space-between;
           box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
           
    
        }
        #img1{
            padding:0px;
            width:3%;
        
            margin-bottom: 39px; 
       
        }
        h1{
            margin-left: 15px;
            margin-top: -3px;
        
        }
        #left{
            display: flex;
            margin-top: 30px; 
            
        }
       
        #left>div>button{
            padding: 6px;
            
            border: none;
            background-color: white;
            color: black;
            font-size: larger;
             cursor: pointer;
             margin-left: 10px;
            
        }
        #left>div>button:hover{
            padding: 6px;
            border: none;
            color:  #0768f8;
            font-size: larger;
        
            margin-left: 10px;
            
        }
        #right{
            margin-top: 30px; 
            padding-right: 140px;
        }
        #btn1{
            
            padding: 9px;
            background-color: white;
            margin-left: 40px;
            cursor: pointer;
            border-radius: 8px;
            font-size: larger;
            border: 2px solid #949494;
        }
        #btn1:hover{
            padding: 6px;
            background-color: #f2f4f7;
              
          
        
            margin-left: 40px;
        }
        #btn2{
            padding: 10px;
            background-color:#0768f8;
            color: white;
            border: none;
            margin-left: 40px;
            cursor: pointer;
            border-radius: 8px;
            font-size: larger;
           
        }
        #btn2:hover{
            padding: 6px;
            background-color:#015be2;
            
          
        
            margin-left: 40px;
        }
        #btn3{
            padding: 10px;
            background-color:white;
            color: rgb(19, 19, 19);
            border: none;
            margin-left: 40px;
            cursor: pointer;
            border-radius: 8px;
            font-size: larger;
           
        }
        #btn3:hover{
            padding: 6px;
            color:  #0768f8;
             margin-left: 40px;
        }
      
       /* =============================body========================== */

       #body{
         display: flex;
        width:100%;
        height: 100%;
        background-color: rgb(239, 252, 252);
        column-gap: 10px;
      }
       #body1{
        display: flex;
        margin-left: 150px;
        width:40%;
        height: 50%;
       }
       #body1>p{
        margin-top: 700px;
        margin-left: -337px;
        font-size: 30px;
        font-weight: bold;
        color: rgb(36, 36, 36);
        }
       h2{
        margin-top: 350px;
        font-size: 70px;
        color: rgb(36, 36, 36);
       }
       #slideshow{
       
        margin-top: 250px;
       }
       #btn4{
        margin-left: -680px;
        margin-top: 840px;
        background-color:#0768f8;
        font-size: large;
        cursor: pointer;
        border-radius: 7px;
        color: #f2f4f7;
        border: none;
        padding: 12px;

       }
       #btn4:hover{
        background-color:#0255d2;
        padding: 7px;
       }

       /* ==============================body2======================= */
       #body2{
        /* border: 1px solid  red; */
        background-color: rgb(245, 245, 245);
       }
       #body2>div{
       background-color: white;
       text-align: center;
       }
       h3{
         padding-top: 100px;
        font-size: 70px;
        color: rgb(36, 36, 36);
       }
       #body2>div p{
       margin-top: 30px;
        margin-left: -4px;
        font-size: 24px;
        /* font-weight: bold; */
        color: rgb(36, 36, 36);
        padding-bottom: 100px;
       }

       /* ===========================body3=========================== */

      
       #body3{
        padding-top: 100px;
        display: flex;
        width:100%;
        height: 100%;
        background-color: rgb(254, 244, 244);
        column-gap: 10px;
       }

    #left1{
       padding-left: 200px;
        padding-right: 200px;
        padding-top: 300px;
    }
    
    #left1>h4{
        font-size: 60px;
       }
    #left1>p{
        margin-top: 30px;
        margin-left: -4px;
        font-size: 24px;
        color: rgb(36, 36, 36);
        padding-bottom: 30px;
     }
    #special2{
        margin-top: 2px;
        margin-left: -4px;
        font-size: 24px;
        border: none;
        background-color: rgb(254, 244, 244);
        cursor: pointer;
        color:#0768f8;
        padding-bottom: 100px;
      }
    #special2:hover{
        color: navy;
        cursor: pointer;
     }

    /* ===========================body4============================== */
    
    #body4{
       padding-top: 100px;
        display: flex;
        width:100%;
        height: 100%;
        background-color: rgb(254, 244, 244);
        column-gap: 10px;
       }
       #left3{
        padding-left: 200px;

       }
    #right3{
        padding-left: 100px;
        padding-right: 200px;
        padding-top: 300px;
    }
    
    #right3>h4{
        font-size: 60px;
       }
    #right3>p{
        margin-top: 30px;
        margin-left: -4px;
        font-size: 24px;
        color: rgb(36, 36, 36);
        padding-bottom: 30px;
      }
    #special3{
        margin-top: 2px;
        margin-left: -4px;
        font-size: 24px;
        border: none;
        background-color: rgb(254, 244, 244);
        cursor: pointer;
        color:#0768f8;
        padding-bottom: 100px;
      
    }
    #special3:hover{
        color: navy;
        cursor: pointer;

    }

     /* ======================body5================================== */
     #body5{
        width: 100%;
        height: 100%;
        background-color: rgb(254, 244, 244);
     }
     #body5>img{
        width: 70%;
        padding-left: 250px;
      
     }

     /* ===============body6========================================= */
     #body6{
        display: flex;
        background-color: rgb(251, 251, 229);
        justify-content: space-around;
     }
     h5{
        font-size: 50px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 120px;
     }

     #special4{
        margin-top: 30px;
        margin-left: -4px;
        font-size: 24px;
        border: none;
        background-color: rgb(251, 251, 229);
        cursor: pointer;
        
        color:#0768f8;
        padding-bottom: 100px;
      
    }
    #special4:hover{
        color: navy;
        cursor: pointer;

    }
/* ==================body7=========================================== */

#body7{
    display: flex;
    background-color: rgb(251, 251, 229);
}
#body7>img{
  
    width: 30%;
    padding-left: 400px;

}
#white{
    background-color: #f2f4f7;
    padding: 20px;
}
#white>p{
    font-size: 40px;
}
#special5{
    margin-top: 30px;
    margin-left: -4px;
    font-size: 24px;
    border: none;
  
    cursor: pointer;
    
    color:#0768f8;
    padding-bottom: 100px;
  
}
#special5:hover{
    color: navy;
    cursor: pointer;

}
/* =================body8============================================ */
#body8{
    background-color:f2f4f7 ;
    padding-bottom: 100px;
}
#body8>p{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;

}


 #btn5{
    padding: 10px;
    margin-top: 50px;
    position: relative;
    background-color:#0768f8;
    color: white;
     border: none;
    margin-left: 840px;
    cursor: pointer;
    border-radius: 8px;
    font-size: larger;
  
   
}
#btn5:hover{
    padding: 6px;
    background-color:#015be2;
} 
/* =====================footer======================================= */

#footer{
    display: flex;
    justify-content: space-around;
}


#footer1{
margin-top: 70px;
}

#footer1>button{
    background-color: #f2f4f7;
    font-size: 20px;
   border: none;
    margin-left: 20px;
      
    }
/* ==============fotter2============================================= */

.footer2{
      
    display: flex;
    gap:70px;
    padding: 25px;
    margin-left: 90px;
    text-align: center;
    justify-content: space-around;
    border: none;
}

#foot {
    display: inline-block;
    position: relative;
    color: #111212;
    border: none;
    margin-top:16px;
     }
    
    #foot::before{
    content: '';
    position: absolute;
    width: 97%;
    transform: scaleX(0);
    height: 0.8px;
    bottom: 0;
    border: none;
    background-color: #020202;
    }
    
    #foot:hover::before {
    transform: scaleX(1);
    }

    /* ==============footer3=======================================*/
    #footer3{
        background-color: #f2f4f7;
        display: flex;
        justify-content: space-around;
    }
    #para2{
        display: flex;
        margin-top: 20px;
        }
    #para2>p{
        margin-left: 20px;
       }

